@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@200;400;700&display=swap");
/* font-family: 'Commissioner', sans-serif; */

:root {
  --primary: #fed9b7;
  --text: #023047;
  --personal: #fc7b7b;
  --business: #1f71ff;
}

body {
  background: var(--primary);
  color: var(--personal);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Commissioner", sans-serif;
}

input:not([type="radio"]):not([type="checkbox"]),
button {
  appearance: none;
  border: none;
  outline: none;
  background: none;
  cursor: initial;
}
